<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778912505810-903outurhcvlme634l4grs3uurk53fkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778912505810-903outurhcvlme634l4grs3uurk53fkl</string>
	<key>API_KEY</key>
	<string>AIzaSyD_1nLhOxxMToKVfwqNeO69ijgKoiCd9IA</string>
	<key>GCM_SENDER_ID</key>
	<string>778912505810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.regapp</string>
	<key>PROJECT_ID</key>
	<string>rega-191cd</string>
	<key>STORAGE_BUCKET</key>
	<string>rega-191cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778912505810:ios:527cfcb7733252bc8d320b</string>
</dict>
</plist>